@keyframes morph {
    0% {
      border-radius: 70% 50% 80% 50%;
    }
    12.5% {
      border-radius: 50% 70% 50% 80%;
    }
    25% {
      border-radius: 80% 50% 70% 50%;
    }
    37.5% {
      border-radius: 50% 80% 50% 70%;
    }
    50% {
      border-radius: 50% 60% 70% 90%;
    }
    62.5% {
      border-radius: 80% 70% 60% 60%;
    }
    75% {
      border-radius: 84% 60% 60% 70%;
    }
    87.5% {
      border-radius: 60% 80% 60% 70%;
    }
    100% {
      border-radius: 70% 50% 80% 50%;
    }
  }
  
  
  .bubble-animation {
    animation: morph 25s infinite ease-in-out;
  }

.background-image{
    background-image: radial-gradient( circle 311px at 5.6% 17.9%,  var(--primary-color) 13.9%, var(--secondary-color) 91.2% );
}

/* Estilos de texto de titulos de simulacion de tipeo */
.gradient-text {
  background-image: linear-gradient(
    90deg, /* Dirección horizontal */
    var(--primary-color),   /* Celeste claro */
    var(--secondary-color) 50%, /* Rosado claro */
    rgba(255, 255, 255, 0.8) 100% /* Blanco suave */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
 /* Ajusta según sea necesario */
  font-weight: bold;
  line-height: 70px;
  text-align: start;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.082); /* Sombra sutil */
}

@media (min-width: 900px) {
  .gradient-text {
    font-size: 4.5rem;
  }

}
/* 
Estilos de seccion de Estudios */

.container-date-ball{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.date-ball{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: rgb(46, 46, 46);
  font-weight: bold;
  box-shadow: 0 0 2px 1px var(--primary-color);
}


.line-education{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 4px;
  align-items: center;
  justify-content: space-between;
}

.line-education-color{
  box-shadow: 0 0 1px 1px   var(--primary-color);
  background-color: var(--primary-color);
  
}

/*


*/